<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<link href="https://fonts.googleapis.com/css?family=VT323" rel="stylesheet"> 
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
	</head>
	<body>
		
		<nav class="navbar navbar-inverse bg-primary navbar-fixed-top large-font">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="/"><i class="fa fa-map-signs" aria-hidden="true"></i></a>
				</div>
				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav">
						<li><a href="/"><i class="fa fa-user-o fa-fw" aria-hidden="true"></i> About Me</a></li>
						<li><a href="/my-projects"><i class="fa fa-cogs fa-fw" aria-hidden="true"></i> My Projects</a></li>
					</ul>
				</div>
			</div>
		</nav>
